.Product{
    padding: 0px 20px;
}
.ProductImage{
    margin-top: 120px;
    text-align: center;
    margin-bottom: 30px;
}
.Quantity__button{
    margin-top: 10px;
   margin-bottom: 18px;
}
.Quantity__button input{
    margin-left: 10px;
    
}
.Delivary__button input{
    margin-left: 10px;
}
.cross_btn{
    float: right;
    margin-bottom: 10px;

}
.payment_success{
    text-align: center;
    font-weight: 700;
    font-size: 34px;
    line-height: 200%;
}
.ProductInfo{
text-align: center;
}
.Paymethod__method{
    margin-top: 15px;
}
.cross_btn{
    float: right;
}
.ProductInfo span,
.ProductInfo h1{
    font-weight: 600;
    color: black;
     opacity: 80%;
    font-family: sans-serif;
}
p{
    font-weight:500;
    font-family: sans-serif;
    margin-bottom: 2px !important;
}
.additional_text{
    margin-top: 20px;
    font-size: 24px;
    font-weight: 600;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    
    

}
