.Product{
    padding: 0px 20px;
}
.ProductImage{
    margin-top: 120px;
    text-align: center;
    margin-bottom: 30px;
}
.ProductInfo{
text-align: center;
}

.ProductInfo span,
.ProductInfo h1{
    font-weight: 600;
    color: black;
     opacity: 80%;
    font-family: sans-serif;
}
p{
    font-weight:500;
    font-family: sans-serif;
    margin-bottom: 2px !important;
}
