.topsellers-main{
    margin-top: 60px;
}
.topsellers-main h1{
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 38px;
    font-weight: 700;
    line-height: 150%;
    color: #283950;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
}
.title{
    text-align: center;
}