.offers{
    height:100vh;
    background-color: #F7F9F7;
    padding-top: 60px;
    padding-left: 30px ;
    padding-right: 30px;
    margin-top: 20px;
}
.offers_Container{
     margin-top: 30px;
     margin-bottom: 20px;
     width: 50%;
     margin-left:auto;
     margin-right: auto;
}
.offers_Container h1{
    font-weight: 700;
}
.box_style{
    height: 90px;
    font-weight: 500;
    font-size: 24px;
    
}
.box_title{
    font-weight: 600;
    font-size: 30px;
}
.offers_table{
    margin-top: 20px;
}
