.registration__container{
    padding:0 70px;
}

.registration__form{
    width:50%;
    padding: 20px 0;
    margin-bottom: 20px;
}

.registration__form h1{
    text-transform: uppercase;
    font-size: 36px;
    color: #5a5956;
    font-weight: Bold;
}

#email:focus{
    box-shadow: none;
    border-color: #6A9B47;
    background-color: #fff;
    outline: 0;   
}
#credentials:focus{
    box-shadow: none;
    border-color: #6A9B47;
    background-color: #fff;
    outline: 0;
}
.radio_buttons{
    display:flex;
    justify-content: space-between;
    padding:0 20px;
}

.registration__logo{
    text-align: center;
}

 .registration__logo img{
    height: 200px;
    width:70%;
    object-fit: contain;
    
}

span{
    color:#358d08;
    font-weight: bold;
}
.links{
    color:#358d08;
    font-weight: bold;
}
.links:hover{
    color:#358d08;
}
.policy{
    margin-bottom:15px;
}
.error{
    color:red;
    font-size: 12px
 }
  
@media (max-width:600px){
    .radio_buttons{
        display:flex;
        flex-direction: column;
        padding:0 20px;
    }
    .registration__form{
        width:75%;
        margin:0 auto;
    } 
    .registration__container{
        padding:0 50px;
    }
    
}