.container_banner{
    background-image:url(../../Assets/Images/loginimg.jpg);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index:0;
  
}
.heading{
    padding-top: 200px;
    text-align: center;
    color: white;
    font-size: 84px;
    font-weight: 900;
    line-height: 200%;
}
.home_intro{
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}
.home_intro_left{
    margin-left: 10%;
    padding-right: 10%;
    width: 40%;
}
.home_intro_right{
  margin-right: 10%;
  padding-left: 20px;
}
.home_intro_right p{
  font-weight: 500;
  font-size: 24px;
}
.home_intro_right h2{
font-weight: 700;
margin-bottom: 30px;
font-size: 44px;
line-height: 180%;
}
.logo_home{
    height: 300px;
    object-fit: contain;
    width: 200%;
  
}